VITE_SUPABASE_URL=https://udecyzoubgkejmyibqnw.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkZWN5em91YmdrZWpteWlicW53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MTY4ODIsImV4cCI6MjA5ODA5Mjg4Mn0.NxCIMYQPpJi5jhwaElVAPon-EDsXT_c7N05diqO64Z0
VITE_ADMIN_SENHA=smash@rh2026
